/* index.css or global stylesheet */
html, body, #root {
    height: 100%;
    margin: 0;
  }

  @keyframes slideUpFadeIn {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slideUpFadeIn {
    animation: slideUpFadeIn 1s ease-out forwards;
  }  